@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

@import 'tailwindcss';

@theme {
	--font-serif: 'M PLUS Rounded 1c', serif;
}

@layer base {
	:root {
		color-scheme: light dark;
	}

	:target {
		scroll-margin-top: var(--header-height);
	}

	html {
		scroll-behavior: smooth;

		@apply canvas;
	}

	body {
		font-family: var(--font-serif);
	}

	label,
	select {
		cursor: pointer;
	}
}

@utility canvas {
	@apply bg-white dark:bg-black text-black dark:text-white;
}

@utility bordered {
	@apply border border-neutral-100 dark:border-neutral-800 focus-within:border-neutral-300 dark:focus-within:border-neutral-600;
}
